:root {
	--primary: #1ED761;
	--body: #18181C;
	--body-lighter: #222228;
	--text: #FFFFFF;
	--text-secondary: lightgray;
	--border: rgba(255, 255, 255, 0.1);

	/* Gaps */
	--gap-small: 5px;
	--gap: 10px;
	--gap-large: 20px;
	--gap-larger: 40px;

	/* Buttons */
	--primary-button-bg: rgba(30, 215, 96, 0.1);
	--primary-button-bg-hover: rgba(30, 215, 96, 0.15);
	--primary-button-bg-active: rgba(30, 215, 96, 0.05);
	--primary-button-text: #1ED760;
}

body {
	margin: 0;
	background: var(--body);
	color: var(--text);
	font-family: Poppins, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

::selection {
	background-color: var(--primary);
	color: var(--text);
}

/* Reset default margins */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}