@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('./variables.scss');

body {
	margin: 0;
	background: var(--body);
	color: var(--text);
	font-family: 'Gordita', Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

::selection {
	background-color: var(--primary);
	color: var(--text);
}

/* Reset default margins */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}

.fas, .fab {
	font-size: 20px;
}

.mt-gap {
	margin-top: var(--gap);
}

.mb-gap {
	margin-bottom: var(--gap);
}

.mt-gap-large {
	margin-top: var(--gap-large);
}

.mb-gap-large {
	margin-bottom: var(--gap-large);
}