:root {
	--primary: #1ED761;
	--body: #111112;
	--body-lighter: #18181c;
	--text: #FFFFFF;
	--text-secondary: lightgray;
	--border: rgba(255, 255, 255, 0.1);
    --box-shadow: rgba(0, 0, 0, 0.5);

	/* Gaps */
	--gap-small: 5px;
	--gap: 10px;
	--gap-large: 20px;
	--gap-larger: 40px;

	/* Buttons */
	--primary-button-bg: rgba(30, 215, 96, 0.1);
	--primary-button-bg-hover: rgba(30, 215, 96, 0.15);
	--primary-button-bg-active: rgba(30, 215, 96, 0.05);
	--primary-button-text: #1ED760;
}
